{% extends "master.html.twig" %}
{% block title %}Child attenance Detail{% endblock %}
{% block content %}
<a href="/educator/childlist">Add Addtendance</a> </p>
Date: {{today}}<br>

<tr><th>Child Id</th> <th>First name</th> <th>Last Name</th> <th>Start Time</th> <th>End Time</th> <th>Staus</th><th>Note</th></tr><br>
    {% for a in list %}
    <tr> 
    <td>{{a.id}}</td><br>
        <td> {{a.firstName}}</td> 
        <td>{{a.lastName}}</td><br>
        <td>{{a.startTime}} </td><br>
        <td>{{a.endTime}} </td>  <br> 
        <td>{{a.status}} </td><br>
        <td>{{a.note}} </td>   
        </tr>
         
    {% endfor %}

    
</table>



{% endblock content %}