{% extends "master.html.twig" %}

{% block content %}
<a href="/educatoraccount">Back</a> </p>
<h3>Group Child List:</h3>

    <table>
        <tr><th>First Name</th><th>Last Name</th><th>Gender</th><th>Date Of Birth</th><th>EmerContactName</th><th>EmergencyPhone</th><th> Note</th><th>Addtendance</th></tr>
        {% for a in list %}
        <tr>
        <td>{{a.firstName}}</td>
        <td>{{a.lastName}}</td>
        <td>{{a.gender}}</td>
        <td>{{a.dateOfBirth}}</td>
        <td>{{a.emergencyContact}}</td>
        <td>{{a.emergencyPhone}}</td>
        <td><form action="/educator/addchildnotes">
                <input type="text"  hidden name="id" value="{{a.id}}">
                <input type="submit" value="Add note"></form></a></td>
     
        <td><form action="/educator/child_attendance">
                <input type="text" hidden name="id" value="{{a.id}}" >
                <input type="submit" value="Add attendance"></form></a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}