{% extends "admin/master.html.twig" %}

{% block title %}Waitinglist{% endblock %}

{% block content %}

<table>
    <tr><th>#</th><th>First Name</th><th>Last Name</th><th>Gender</th><th>Date of Birth</th><th>Has Siblings</th><th>Actions</th></tr>
    {% for a in list %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.firstName}}</td>
            <td>{{a.lastName}}</td>
            <td>{{a.gender}}</td>
            <td>{{a.dateOfBirth}}</td>
            <td>{{a.hasSibling}}</td>
            <td><form method="post" action="/admin/waitinglist/add/{{a.id}}">
                    <input type="submit" value="ADD">
                </form>
                <form method="post" action="/admin/waitinglist/delete/{{a.id}}">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}